@import "fonts.css";

:root {
  --color-primary: #f06c64;
  --color-light: #ffffff;
  --color-text: #767e9e;
  --color-heading: #666d89;
  --color-dark: #2d303a;
  --color--divider: #494e62;
  --color-header-border: #323746;
  --color-slider-border: #ea676b;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Lato", Verdana, sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
}

h2,
h3 {
  color: var(--color-heading);
}

h1 {
  margin: 29px 0  30px;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-light);
  text-transform: uppercase;
  letter-spacing: -0.6px;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
}

h3 {
  font-size: 1.8rem;
  font-weight: 900;
}

.wrapper {
  margin: auto;
  max-width: 1020px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Header */

.header {
  padding: 0 40px;
  background-color: var(--color-dark);
  border-bottom:6px solid var(--color-header-border);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo span{
  color: var(--color-primary);
}

.navigation__link {
  margin-left: 8px;
  color: var(--color-light);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  font-size: 1.2rem;
}

.navigation__link--active {
  color: var(--color-primary);
}

.navigation__link:hover {
  color: var(--color-primary);
}

.navigation__link:after {
  content: "·";
  margin-left: 14px;
  color: var(--color--divider);
}

.navigation__link:last-child:after {
  display: none;
}

/* Slider */

.slider {
  position: relative;
  background-color: var(--color-primary);
  border-bottom: 6px solid var(--color-slider-border);
}

.slider__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__slide img {
  display: block;
  padding: 52px 36.5px 58px;
}

.slider__arrow-prev,
.slider__arrow-next {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0px;
  height: 100%;
  padding: 0 42px;
  cursor: pointer;
  transition: all 0.3s;
}

.slider__arrow-prev img,
.slider__arrow-next img {
  margin-bottom: 5px;
}

.slider__arrow-prev:hover,
.slider__arrow-next:hover {
  background-color: var(--color-slider-border);
}

.slider__arrow-prev {
  left: 0;
}

.slider__arrow-next {
  right: 0;
}
